  databases:
  - name: ktuvoting-db
    databaseName: ktuvoting
    user: ktuvote_user
    plan: free

    autoDeploy: true
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: PORT
        value: "8080"
