services:
  - type: web
    name: ktuvoting-app
    env: docker
    region: oregon
    branch: main
    plan: free
    dockerfilePath: Dockerfile
    autoDeploy: true
    envVars:
      - key: SERVER_PORT
        value: "8080"
      - key: PORT
        value: "8080"

